.btn {
    color: red;
  }
  .blue {
    color: blue;
  }
  h1:hover {
    color: green;
  }
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
  }

  .img-container {
    display: flex;
    justify-content: center;
  }

  .dog-photo {
    float: left;
    max-width: 50%;
    height: auto;
  }
  
  .p-container {
    margin-left: 25px;
    display: flex;
    justify-content: center;
  }
  
  